name: monex-server

version: '3.8'

services:
  server:
    container_name: monex-server
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:8000"
