name: monex-server

version: '3.8'

services:
  server:
    container_name: monex-server
    image: vbilenko99/monex-server:1.0
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    env_file:
      - .env
    ports:
      - "8000:8000"
